<div>
 <form id="sign-up" method="post" action="/create_user">
    <label class="label" for="name">Name</label>
    <input type="text" name="name" placeholder="e.g., joe" >
    <br>

    <label class="label" for="text">Twitter Handle</label>
    <input type="text" name="twitter_handle" placeholder="e.g., TheRealMcCoy" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>
</div>
